/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  font-family: American Typewriter;
}

img {
	display: inline-block;
}

/* Style tab links */
.tablink {
	font-family: American Typewriter;
  background-color: white;
  color: black;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 16.5%;
}

.tablink:hover {
  background-color: whitesmoke;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  padding: 100px 20px;
  height: 100%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
}

a {
	color:  black;
}

#BrainStream {background-color: white;}
#CodeThings {background-color: white;}
#AboutMe {background-color: white;}
#ContactMe {background-color: white;}

#brainid:hover {
	background-color: #FDB196;
}
#codeid:hover {
	background-color: #FAD2A7;
}
#abouid:hover {
	background-color: #FBEAC8;
}

#contactid:hover {
	background-color: #B1D9CD;
}

#quoteid: hover {
	background-color: #93C2C6;
}

#lyricid:hover {
	background-color: #C1E3FE;
}